.home-container {
    width: 100vw;
    height: 80vh;
    display: flex;
    padding-top: 15vh; /* Adjusts vertical spacing */
    overflow: hidden;
}

.text-container {
    width: 30vw;
    padding-left: 10vw;
    margin-top: 30vh;
    text-align: left;
    color: var(--custom-darkblue);
}

.home-illus {
    width: 70vw;
    height: 90vh;
    padding-right: 15vw;
    padding-top: 7vw;
}

.illus-class {
    transform: scale(1.8);
}

.home-title h1 {
    font-size: 6vw;
    width: 50vw;
    font-weight: 700;
    color: var(--custom-darkblue);
    margin: 0;
    font-family: var(--font-primary);
}

.home-subtitle p {
    font-size: 1.25rem;
    width: 39vw;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 2rem;
    line-height: 1.4;
    color: var(--custom-darkblue);
    font-family: var(--font-secondary);
}

.home-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--custom-darkblue);
    color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    border-radius: 6px;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: var(--font-secondary);
}

.home-button:hover {
    background-color: #003366;
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
