.menu-bar {
    position: fixed;
    top: 0px;
    left: 10%;
    width: 80vw;
    height: 10vh;
    background-color: var(--custom-darkblue);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 1000;
    transform: translateY(-100%);
}

.menu-item {
    position: relative;
    margin: 0 2vw;
    font-family: var(--font-custom-light);
    font-size: 1.2rem;
    cursor: pointer;
}

.hover::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: white;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}

.hover:hover::after {
    transform: scaleX(1);
}

.menu-logo {
    padding-right: 2vw;
}

.menu-socials {
    display: flex;
    gap: 1.5rem;
    font-size: 1.5vw;
    padding-bottom: 0.3vw;
    padding-left: 2vw;
}

.menu-socials i {
    color: white;
    transition: all 0.2s ease-in-out;
}

.fa-linkedin-in:hover {
    color: #0072b1;
    transform: translateY(-2px);
}

.fa-instagram:hover {
    color: #e1306c;
    transform: translateY(-2px);
}

.fa-envelope:hover {
    color: #34a853;
    transform: translateY(-2px);
}
